# ===========================
# Spring Profile
# ===========================
SPRING_PROFILES_ACTIVE=local


# ===========================
# Database (MySQL)
# ===========================
DB_HOST=mysql
DB_PORT=3306
DB_NAME=mozu_server
DB_USERNAME=root
DB_PASSWORD=your_mysql_password_here


# ===========================
# Redis
# ===========================
REDIS_HOST=redis
REDIS_PORT=6379


# ===========================
# JPA
# ===========================
JPA_HIBERNATE_DDL_AUTO=update
JPA_SHOW_SQL=true
JPA_FORMAT_SQL=false


# ===========================
# JWT Auth
# ===========================
HEADER=Authorization
PREFIX=Bearer

# Base64 encoded Secret Key (example)
JWT_SECRET=base64_encoded_jwt_secret_here

ACCESS_EXP=3600
REFRESH_EXP=604800
STUDENT_ACCESS_EXP=21600


# ===========================
# AWS S3
# ===========================
AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here

BUCKET_NAME=mozu-server-bucket
MOZU_IMAGE_FOLDER=https://your-bucket-url-here/
